body {
    display: flex;
    justify-content: center;
    overflow: hidden; /* prevent scrolling */
}

.board {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    aspect-ratio: 1 / 1; /* maintains a square aspect ratio */
    box-sizing: border-box; 
    border-radius: 10px;
    padding: 8px;
    width: 92vw;
    height: auto;
    max-width: 650px;
    background-color: #BDAD9E;
}

.game-over {

}