@media only screen and (max-width: 480px) {
    body {
        touch-action: none;
    }
}

.board-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.board {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    aspect-ratio: 1 / 1; 
    box-sizing: border-box; 
    border-radius: 10px;
    padding: 8px;
    width: clamp(400px, 92vw, 600px);
    background-color: #BDAD9E;
}

@media (max-width: 1800px) {
    .board {
        width: auto;
        height: clamp(550px, 10vh, 600px);
    }
}

@media (max-width: 450px) {
    .board {
        width: 400px;
        height: auto;
    }
}

.finished {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: hsla(52, 51%, 66%, 0.46);
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
span {
    color: #F9F6F1;
    font-size: 4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.finished-buttons-row {
    display: flex;
    gap: 20px;
}

.finished-buttons-row button {
    align-items: center;
    height: 45px;
    width: fit-content;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: #F9F6F1;
    background-color: #927963;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.finished-buttons-row button:hover {
    cursor: pointer;
}