.score-boxes {
    display: flex;
    gap: 10px;
}

.score-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: clamp(110px, 18vw, 145px);
    background-color: #BDAD9E;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.score-box p {
    margin: clamp(5px, 1vw, 8px);
    font-size: clamp(1.1rem, 3vw, 1.3rem);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #F0E4D9;
}

.score-box span {
    font-size: clamp(1.4rem, 3vw, 1.9rem);
    color: #FFFFFF;
}