.tile {
    align-content: center;
    border-radius: 3px;
    aspect-ratio: 1 / 1;
    width: 86%;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
}

.tile[new-tile='true'] {
  animation: tileAppear 0.2s ease-out forwards;
}

@keyframes tileAppear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.tile[digits='4'] {
  font-size: 2.5rem;
}

.tile[digits='5'] {
  font-size: 2rem;
}

.tile[digits='6'] {
  font-size: 1.7rem;
}

.tile[digits='7'] {
  font-size: 1.5rem;
}

@media (max-width: 480px) {
    .tile {
        font-size: 2.5rem;
    }

    .tile[digits='4'] {
      font-size: 1.6rem;
    }
    
    .tile[digits='5'] {
      font-size: 1.7rem;
    }
    
    .tile[digits='6'] {
      font-size: 1.3rem;
    }
    
    .tile[digits='7'] {
      font-size: 1.1rem;
    }  
}

@media (max-width: 480px) {
    .tile {
        font-size: 2.5rem;
    }

    .tile[digits='4'] {
      font-size: 1.8rem;
    }
    
    .tile[digits='5'] {
      font-size: 1.7rem;
    }
    
    .tile[digits='6'] {
      font-size: 1.3rem;
    }
    
    .tile[digits='7'] {
      font-size: 1.1rem;
    }
}

@media (max-width: 470px) {
  .tile {
      font-size: 2.1rem;
  }

  .tile[digits='4'] {
    font-size: 1.5rem;
  }
  
  .tile[digits='5'] {
    font-size: 1.3rem;
  }
  
  .tile[digits='6'] {
    font-size: 1.15rem;
  }
  
  .tile[digits='7'] {
    font-size: 1rem;
  }
}